<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
<h1>Invoice</h1>
<table>
    <tr>
        <td>
            <h3>Seller </h3>
            <p><strong></strong> <span th:text="${invoice.seller}"></span></p>
            <p><strong>Address:</strong> <span th:text="${invoice.sellerAddress}"></span></p>
            <p><strong>GSTIN:</strong> <span th:text="${invoice.sellerGstin}"></span></p>
        </td>
        <td>
            <h3>Buyer Information</h3>
            <p><strong></strong> <span th:text="${invoice.buyer}"></span></p>
            <p><strong>Address:</strong> <span th:text="${invoice.buyerAddress}"></span></p>
            <p><strong>GSTIN:</strong> <span th:text="${invoice.buyerGstin}"></span></p>
        </td>
    </tr>
</table>
<br/>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${invoice.items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.rate}"></td>
        <td th:text="${item.amount}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
